<div id="<%= dom_id platform %>">
  <p>
    <strong>Name:</strong>
    <%= platform.name %>
  </p>

  <p>
    <strong>Releasedate:</strong>
    <%= platform.releaseDate %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= platform.manufacturer %>
  </p>

</div>
