<% content_for :title, "New platform" %>

<h1>New platform</h1>

<%= render "form", platform: @platform %>

<br>

<div>
  <%= button_to "Back to platforms", platforms_path, method: :get, class: 'btn' %>
</div>
