<h1>Games App</h1>
<h2>Entities:</h2>
<ul>
  <li><a href="<%= games_path %>">Game</a></li>
  <li><a href="<%= publishers_path %>">Publisher</a></li>
  <li><a href="<%= platforms_path %>">Platform</a></li>
</ul>
